:root {
    --background-gradient-light: linear-gradient(135deg, #1976d2 0%, #aeb5ff 50%, #ffffff 100%);
    --background-gradient-dark: linear-gradient(135deg, #3a3a3a 5%, #5361ff 50%, #11508e 100%);
    --back-light: #ffffff;
}

.animated-background {
  position: relative;
  background: var(--back);
  overflow: hidden;
  min-height: 100vh;
  overflow: auto;
}

.shape {
    position: absolute;
    width: 1000px;
    height: 1000px;
    background: var(--background-gradient);
    border-radius: 50%;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    opacity: 0.7;
    z-index: -1;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.shape-reversed {
    position: absolute;
    width: 1000px;
    height: 1000px;
    background: var(--background-gradient);
    border-radius: 50%;
    top: 100%;
    left: 48%;
    transform: translate(-50%, -50%) rotate(180deg);
    opacity: 0.7;
    z-index: -1;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}